* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #000;
  font-size: 18px;
  line-height: 1.5;
  /* height: 100%; */

  background: url(../../assets/diia_gradient_02.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 100%;
  padding-right: 15%;
  padding-left: 15%;
  margin-right: auto;
  margin-left: auto;
}

#search-box {
  font: inherit;
  padding: 15px 25px;
  width: 100%;
  margin-top: 20%;
  margin-bottom: 2%;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#search-box:focus {
  outline: 2px solid #747474;
}

.flag-img {
  display: inline-block;
  width: 50px;
  height: 30px;

  margin-right: 10px;
  margin-bottom: -7px;
}

/* card */

.country-info .flag-img {
  margin-left: 40px;
  margin-right: -30px;
  margin-bottom: 0;
}

.country-card__name {
  display: inline-block;
  margin-top: 10px;
  margin-left: 40px;
}

.country-card__items {
  list-style: none;
  margin: 0;
}

/* list */

.country-list {
  list-style: none;
}

.country-list__item {
  margin-bottom: 10px;
}
